<div class="container">
  <nav class="header">
    <ul class="links">
      <a href="#" class="nav-links">Home</a>
      <a href="#" class="nav-links">About</a>
      <a href="#" class="nav-links">Contact</a>
    </ul>
    <div class="logo">
      Landie
    </div>
    <div class="primary-button">
      Buy Now
    </div>
  </nav>
  <div class="section-one">
    <div class="hero-text">
      <h2 class="hero-header">
        Introduce Your Product Quickly & Effectively
      </h2>
      <p class="hero-subtext">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
      </p>
      <div class="action">
        <div class="primary-button">Purchase UI Kit</div>
        <div class="secondary-button">Learn More</div>
      </div>
    </div>
  </div>

  <div class="section-two">
    <div class="section-two-content">
      <div class="content-one">
        <div class="section-two-header">
          Light, Fast & Powerful
        </div>
        <p class="section-two-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
          mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
        </p>
      </div>
      <div class="content-two">
        <div class="services">
          <div class="icon-wrapper">
            <img class="service-icon" src="../assets/Icon.svg" alt="icon"/>
          </div>
          <p class="service-header">
            Title Goes Here
          </p>
          <p class="service-info">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          </p>
        </div>
        <div class="services">
          <div class="icon-wrapper">
            <img class="service-icon" src="../assets/Icon.svg" alt="icon"/>
          </div>
          <p class="service-header">
            Title Goes Here
          </p>
          <p class="service-info">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

